/* NAVBAR */
.logo {
    background-image: url('/images/cineteca_logo.png');
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.filler {
    height: 10vh;
}